* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

iframe {
  margin-top: 50px;
  margin-left: 50px;
}

nav {
  background-color: blue;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 30px;
  color: white;
}

i:hover {
  margin-left: 500px;
  /* transform: rotate(0deg); */
  animation: anime 3s infinite;
}

@keyframes anime {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
